body {
    background: url("../img/bg3.png") no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Tahoma';
}

.container {
    max-width: 1400px;
    height: 70vh;
    width: 50vw;

    background-color: #0024561e;
    border-radius: 30px;
    box-shadow: 0 0 50px #955f26b0;

    display: flex;
    align-items: center;
    justify-content: center;
}
div.info-box, div.input-box{ 
    margin: 5px;
    padding: 10px;
}
div{
    overflow: hidden;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    color: white;
}
.info-box {
    width: 45%;
    height: 70%;
    
    background-color: #955f264f;
    box-shadow: 0 0 50px #e1c1a463;
    border-radius: 15px;

    color: white;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-header{
    height: 50%;
    width: 100%;

    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#prof-img{
    height: 13vh;
    width: 13vh; 
    border-radius: 50%;
}

.prof-info{
    height: 90%;
    width: 50%;

    padding: 5px;
    margin: 5px;

    line-height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: bold;
}
h6{
    font-weight:900;
    text-align: center;
    line-height: 3em;
}
.info-footer{
    height: 50%;
    width: 100%;

    padding: 5px;
}
.text{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.input-box {
    width: 40%;
    height: 50%;
    
    background-color: #955f264f;
    box-shadow: 0 0 50px #e1c1a463;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box *{
    margin: 10px;
}

#username {
    border-radius: 5px;
    width: 40%;
}
#submit-btn {
    width: 25%;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: .1s ease-in;
    outline: none;
    font-weight: bold;
}

#submit-btn:not(:first-child) {
    margin-left: 10px;
}

#submit-btn:hover {
    background-color: #e1c1a4;
}

#submit-btn:active {
    background-color: #955f26; 
}

#submit-btn--disabled {
   display: none;
}
.error {
    position: fixed;
    width: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    color: white;
    background-color: rgb(231, 67, 67);

    font-size: 18px;

    left: 0;
    bottom: 0;
    transition: width 3s linear;
}

@media only screen and (max-aspect-ratio: 16/11) {
    .container {
        flex-direction:column-reverse;
    }
    .info-box, .input-box{
        width: 80%;
    }
}